### Concatenating data

In [32]:
import pandas as pd

In [33]:
#uber1 april 2014
uber1 = pd.read_csv (r'nyc_uber2014\nyc_uber_april2014.csv')
#uber2 may 2014
uber2 = pd.read_csv (r'nyc_uber2014\nyc_uber_may2014.csv')
#uber3 june 2014
uber3 = pd.read_csv (r'nyc_uber2014\nyc_uber_june2014.csv')

In [34]:
print(uber1.head())

   Unnamed: 0          Date/Time      Lat      Lon    Base
0           0  4/1/2014 00:11:00  40.7690 -73.9549  B02512
1           1  4/1/2014 00:17:00  40.7267 -74.0345  B02512
2           2  4/1/2014 00:21:00  40.7316 -73.9873  B02512
3           3  4/1/2014 00:28:00  40.7588 -73.9776  B02512
4           4  4/1/2014 00:33:00  40.7594 -73.9722  B02512

In [35]:
print(uber2.head())

   Unnamed: 0          Date/Time      Lat      Lon    Base
0           0  5/1/2014 00:02:00  40.7521 -73.9914  B02512
1           1  5/1/2014 00:06:00  40.6965 -73.9715  B02512
2           2  5/1/2014 00:15:00  40.7464 -73.9838  B02512
3           3  5/1/2014 00:17:00  40.7463 -74.0011  B02512
4           4  5/1/2014 00:17:00  40.7594 -73.9734  B02512

In [36]:
print(uber3.head())

   Unnamed: 0          Date/Time      Lat      Lon    Base
0           0  6/1/2014 00:00:00  40.7293 -73.9920  B02512
1           1  6/1/2014 00:01:00  40.7131 -74.0097  B02512
2           2  6/1/2014 00:04:00  40.3461 -74.6610  B02512
3           3  6/1/2014 00:04:00  40.7555 -73.9833  B02512
4           4  6/1/2014 00:07:00  40.6880 -74.1831  B02512

In [38]:
# Concatenate uber1, uber2, and uber3: row_concat
row_concat = pd.concat([uber1, uber2, uber3])

In [42]:
# Print the shape of row_concat
print(row_concat.shape)

(282, 5)

In [43]:
# Print the head of row_concat
print(row_concat.head())

   Unnamed: 0          Date/Time      Lat      Lon    Base
0           0  4/1/2014 00:11:00  40.7690 -73.9549  B02512
1           1  4/1/2014 00:17:00  40.7267 -74.0345  B02512
2           2  4/1/2014 00:21:00  40.7316 -73.9873  B02512
3           3  4/1/2014 00:28:00  40.7588 -73.9776  B02512
4           4  4/1/2014 00:33:00  40.7594 -73.9722  B02512

### Combining columns of data

In [1]:
import pandas as pd

In [5]:
ebola_melt = pd.read_csv('ebola_melt.csv')
status_country = pd.read_csv('status_country.csv')

In [7]:
# Concatenate ebola_melt and status_country column-wise: ebola_tidy
ebola_tidy = pd.concat([ebola_melt, status_country], axis=1)

In [8]:
# Print the shape of ebola_tidy
print(ebola_tidy.shape)

(1952, 8)

In [9]:
# Print the head of ebola_tidy
print(ebola_tidy.head())

   Unnamed: 0        Date  Day  type_country  counts  Unnamed: 0   type  \
0           0    1/5/2015  289  Cases_Guinea  2776.0           0  Cases
1           1    1/4/2015  288  Cases_Guinea  2775.0           1  Cases
2           2    1/3/2015  287  Cases_Guinea  2769.0           2  Cases
3           3    1/2/2015  286  Cases_Guinea     NaN           3  Cases
4           4  12/31/2014  284  Cases_Guinea  2730.0           4  Cases

  country
0  Guinea
1  Guinea
2  Guinea
3  Guinea
4  Guinea